.App {
  margin: 3% 10%;
  height: 800px;
}

.main {
  width: 100%;
  height: 100%;
}

.header {
  background-color: #459E97;
  width: 100%;
  height: 15%;
  border-radius: 10px;
  display: flex;
}

.heading {
  width: 80%;
  margin: auto 5%;

  > h1 {
    color: #FFFFFF;
    font-size: 24px;
    margin: 0;
    padding: 10px;
  }

  > p {
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
    padding: 10px;
  }
}

.reload {
  display: flex;             
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  > p {
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
    padding: 10px;
  }
}

.gridview {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(4, 24%);
  gap: 10px;  
  margin: 3% 10%;
  grid-template-areas: 
    "item1 item2 item3 item4"
    "item1 item5 item5 item4"
    "item6 item5 item5 item9"
    "item7 item7 item8 item9";
}

.grid-item {
  color: white;
  text-align: center;
  border-radius: 10px;
  min-height: 150px;

  > img {
    width: 100%;                   
    height: 100%;                  
    object-fit: cover;
    border-radius: 10px;
  }
}

/* Define grid item positions using grid-area */
.grid-item:nth-child(1) {
  grid-area: item1;
}

.grid-item:nth-child(2) {
  grid-area: item2;
}

.grid-item:nth-child(3) {
  grid-area: item3;
}

.grid-item:nth-child(4) {
  grid-area: item4;
  background-color: #FF0000CC;
  display: flex;             
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.grid-item:nth-child(5) {
  grid-area: item5;
  background-color: #FF0000CC;
  position: relative;
  display: flex;                
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  overflow: hidden;             
}

.grid-item:nth-child(5)::before {
  content: "";                    
  position: absolute;
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.grid-item:nth-child(5) > button {
  font-size: 24px;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  z-index: 1;

  &:hover {
    background-color: #848484;
  }
}

.grid-item:nth-child(6) {
  grid-area: item6;
}

.grid-item:nth-child(7) {
  grid-area: item7;
  background-color: #FF0000CC;
  display: flex;             
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.grid-item:nth-child(8) {
  grid-area: item8;
}

.grid-item:nth-child(9) {
  grid-area: item9;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .gridview {
    grid-template-columns: repeat(2, 48%); /* 2 columns for screens < 768px */
    grid-template-areas: 
      "item1 item2"
      "item1 item3"
      "item5 item5"
      "item5 item5"
      "item4 item6"
      "item4 item8"
      "item7 item7";
  }
}

@media (max-width: 425px) {
  .gridview {
    grid-template-columns: 1fr; /* 1 column for screens < 425px */
    grid-template-areas: 
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7"
      "item8"
      "item9";
  }

  .grid-item:nth-child(5) {
    font-size: 23px;
    font-weight: 700;
    overflow: hidden;             
  }
  
  .grid-item:nth-child(5) > button {
    font-size: 18px;
    font-weight: 500;
   
  }

  .heading {
    width: 80%;
    margin: auto 5%;
  
    > h1 {
      color: #FFFFFF;
      font-size: 18px;
      margin: 0;
      padding: 8px;
    }
  
    > p {
      color: #FFFFFF;
      font-size: 10px;
      margin: 0;
      padding: 8px;
    }
  }
  
  .reload {
    > p {
      color: #FFFFFF;
      font-size: 10px;
      margin: 0;
      padding: 8px;
    }
  }
}
